################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyInterpretator/v17
*.vcxproj
*.filters
*.user
*.sln
/MyInterpretator/x64/Debug
/x64/Debug
