################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyInterpretator/v17
*.vcxproj
*.filters
*.user
*.sln
